@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

// Primary colors
$gradient-start: hsl(6, 100%, 80%);
$gradient-end: hsl(335, 100%, 65%);
// Neutral colors
$pale-blue: hsl(243, 100%, 93%);
$grayish-blue: hsl(229, 7%, 55%);
$dark-blue: hsl(228, 56%, 26%);
$very-dark-blue: hsl(229, 57%, 11%);



/*==========
DEFAULTS
=========*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: $very-dark-blue;
    background-image: url(../images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #fff;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}


/*==========
STORAGE LIMIT BAR
=========*/

$limit-bar-height: 23px;
$limit-padding: 3px;
$usage-bar-height: $limit-bar-height - ($limit-padding * 2);

$data-limit: 1000.00;
$data-usage: 815.00;


.data-storage-component {
    position: relative;

    .data-limit-bar, .data-usage-bar {
        border-radius: 15px;
    }

    .data-limit-bar {
        margin: 1.5em 0 0.6em;
        background-color: $very-dark-blue;
        height: $limit-bar-height;
        padding: $limit-padding;
    }

    .data-usage-bar {
        position: relative;
        background-image: linear-gradient(to right, $gradient-start, $gradient-end);
        // width: percantage(percantage($data-limit) - percantage($data-usage)) % percentage($data-limit) ;
        // width: 81.85%;
        width: 75%;
        height: $usage-bar-height;

        // White dot
        &::after {
            content: "";
            position: absolute;
            width: $usage-bar-height - ($limit-padding * 2);
            height: $usage-bar-height - ($limit-padding * 2);
            padding: $limit-padding;
            border-radius: 50%;
            background: white;
            right: 0;
        }
    }

    .data-min, .data-max {
        width: 50%;
        font-size: 0.8rem;
        font-weight: 700;
        color: $pale-blue;
    }
    .data-min {
        float: left;
        text-align: left;
    }
    .data-max {
        float: right;
        text-align: right;
    }

    .data-remaining {
        $gb-left-box-width: 170px;
        $gb-left-box-height: 77px;

        position: absolute;
        background-color: white;
        border-radius: 10px;
        font-weight: 700;

        width: $gb-left-box-width;
        height: $gb-left-box-height;
        top: $gb-left-box-height;
        left: 50%;
        margin-left: -($gb-left-box-width / 2);

        // Center text "185 GB LEFT"
        justify-content: center;
        align-items: center;

        .gb-number {
            font-size: 2.5rem;
            font-weight: 700;
            color: black;
            margin-right: 10px;
        }
        .gb-unit {
            font-size: 0.8rem;
            color: $grayish-blue;
        }
    }
}



/*==========
LAYOUT
=========*/

.container {
    flex-direction: column;
    row-gap: 1.5em;

    width: 100%;
    min-width: 375px;
    max-width: 1000px;
    padding-left: 2em;
    padding-right: 2em;

    header, main {
        background-color: $dark-blue;
        box-shadow: 25px 25px 45px rgba(0,0,0, 0.3);
        border-radius: 10px;
    }

    header {
        padding: 3em;
        border-top-right-radius: 110px;

        ul {
            margin-top: 3em;
            width: 180px;
            list-style: none;
            justify-content: space-between;
            align-items: center;

            li {
                background-color: $very-dark-blue;
                width: 50px;
                height: 50px;
                border-radius: 10px;
                justify-content: center;
                align-items: center;
            }
        }
    }

    main {
        padding: 2.5em 2.5em 4em;
        text-align: center;
    }

}



/*==========
DESKTOP
=========*/

@media only screen and (min-width: 700px) {

    body {
        background-image: url(../images/bg-desktop.png);
        background-size: contain;
        background-position: bottom;
    }

    .container {
        flex-direction: row;
        row-gap: 0;
        column-gap: 3em;

        height: 219px;

        header {
            width: 40%;
        }

        main {
            width: 60%;
            text-align: left;
            // Align main box to bottom of .container
            height: 160px;
            align-self: flex-end;
        }
    }

    .data-storage-component .data-remaining {
        $gb-left-box-width: 179px;
        $gb-left-box-height: 77px;

        // Reset mobile positioning
        margin-left: 0;
        left: auto;

        // Set desktop location
        top: -($gb-left-box-height + 45px);
        right: 0;

        box-shadow: 25px 25px 45px rgba(0,0,0, 0.3);

        &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: -20px;
            border-left: 30px solid transparent;
            border-top: 30px solid white;
        }
    }
}